<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.accessoryprovidersample">

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- meta-data defines the list of accessories this app supports -->
        <!--
        Poynt Accessory Manager will look for meta-data with name
        "co.poynt.accessory.resources" to get the list of supported accessories by this app.
        -->
        <meta-data
            android:name="co.poynt.accessory.resources"
            android:resource="@xml/accessory" />

        <receiver
            android:name=".CustomAccessoryReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="co.poynt.accessory.manager.action.ACCESSORY_ATTACHED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="co.poynt.accessory.manager.action.ACCESSORY_DETACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="test.intent" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyCashDrawerService"
            android:enabled="true"
            android:exported="true"
            android:permission="poynt.permission.CASH_DRAW_SERVICE" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>